body{
    font-family: Arial, sans-serif;
    background-color: #E5E4E2;
    color: black;
    height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Adjust spacing */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
    height: 50px; /* Adjust logo size */
    margin-right: 15px;
}

.title {
    flex-grow: 1; /* Allows text to expand */
    font-size: 20px;
    color: #333;
    text-align: center;
}

.logout {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-left: 15px;
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: 0.3s;
}
.logout:hover {
    background-color: #007bff;
    color: white;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 60px;
    margin-left: 345px;
}
.header h3{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 1.5rem;
}
.header img{
    height: 40px; /* Adjust logo size */
}
label{
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: left;
}
input[type="file"]{
    display: block;
    margin: 10px auto;
        padding: 8px;
        border: 2px solid #007bff;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
}
input[type="file"]:hover{
    border-color: #0056b3;
}
button{
    padding: 0.8rem 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.hidden{
    display: none;
}
button:hover{
    background-color: #0056b3;
}
.footer{
    display: flex;
    background-color: #333;
    /* text-align: center; */
    padding: 20px 0;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
}
.footer >p{
    font-size: 15px;
    margin-left: 70px;
    margin-top: 20px;
    color: white;
} 
#loadingMessage {
    font-style: italic;
    color: #ff9800;
}
#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 100%; /* Make it take full width */
    height: 180px; /* Set a fixed height */
    text-align: left;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: pre; /* Keep formatting for JSON response */
    word-wrap: normal; /* Prevent word breaking */
}
