* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E4E2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #19485F; */
    /* color: #d9e0a4; */
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3rem;

}
p{
    color: #333;
    font-size: 12px;
    margin-bottom: 15px;
    position: relative;
    bottom: 10px;
}

label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 0.5rem;
    text-align: left;
}

input[type="file"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: black;
}

button {
    padding: 0.8rem 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
#back-button{
    background-color: white;
    color: black;
    width: 35px;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 20px;
    border-radius: 100%;
    margin: 15px;
}

.file-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #28a745; /* Green color to indicate success */
}

.file-link:hover {
    color: #1e7e34;
    text-decoration: underline;
}

#actions-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
#head_image {
    position: absolute;
    top: 20px; 
    left: 10px; 
    padding: 10px; 
}

#head_image img {
    width: 130px; 
    height: auto; 
}
footer {
    background-color: #333;
    /* text-align: center; */
    padding: 20px 0;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
}

footer >p{
    font-size: 13px;
    margin-left: 70px;
    margin-top: 20px;
    color: white;
} 